[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "opencv-python>=4.12.0.88",
    "pyqt5>=5.15.11",
    "pyserial>=3.5",
]
